{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-10">
 

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Datecreation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.datecreation ? article.datecreation|date('d-m-Y') : '' }}</td>

                <td>
                    <a class="btn btn-info" href="{{ path('app_detail_article', {'id': article.id}) }}">Lire plus</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="col">

    </div>
  </div>    
</div>
{% endblock %}
