{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    <form method="post">
        <div class="form-group">
            <label for="email">email</label>
            <input type="email" name="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">password</label>
            <input type="passowrd" name="password" class="form-control">
        </div>
        <div class="form-group">
            <label for="nom">nom</label>
            <input type="text" name="nom" class="form-control">
        </div>
        <div class="form-group">
            <label for="prenom">prenom</label>
            <input type="text" name="prenom" class="form-control">
        </div>
        <div class="form-group">
            <label for="roles">role</label>
            <select name="roles" class="form-control">
                <option value="ROLE_ADMIN">admin</option>
                <option value="ROLE_VENDEUR">vendeur</option>
                <option value="ROLE_CLIENT">client</option>
            </select>
        </div>
        <div class="form-group">
            <button name="register" type="submit" class="btn btn-primary">register</button>
        </div>
    </form>


{% endblock %}
